
.main{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
    flex-wrap: wrap; /* faz que as divs quebrem para a proxima linha em telas pequenas */
    margin-top: -9px;
}

.main-container{
    background-color: #f9f9f9;
    height: 80vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 12px;
    padding: 20px;
    border:  1px solid #ccc;
    border-radius: 9px;
    flex: 1; /* divs cresceam igualmente */
    min-width: 550px; 
    max-width: auto;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.containei{
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border:  1px solid #ccc;
    border-radius: 9px;
    flex: 1; 
    min-width: 450px;
    padding: 20px;
    max-width: 400px;
    padding: 8px;
    background-color: #f9f9f9;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 12px;
    border: 2px solid gray;
    border: 10px;
}
.container-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.if{
    height: 160px;
    max-width: 160px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.cae-div{
    display: flex;
    align-items: center;
}
.imgcae{
    min-width: 50px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.pesquisa{
    border: 3px solid #333;
    border-radius: 10px;
    width: 320px;
    height: 40px;
    background-color: rgba(161, 161, 161, 0.219);
    font-family: Jura;
    color: black;
    margin-top: 8px;
    margin-bottom: 20px;
}

.btnbtn-success{
    --bs-btn-padding-x: .75rem;
    --bs-btn-padding-y: .375rem;
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: black;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 6px;
    background-color: #41a24c13;
    margin-left: 6px;
}
#title{
    text-align: center;
    
}
.sub-titulo{
    margin-left: 20px;
    color:  rgba(63, 62, 62, 0.603);
}
.information{
    text-align: justify;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
